.deps/
.libs/
autom4te.cache/
build/
modules/

Makefile
Makefile.fragments
Makefile.objects
config.h
config.log
config.nice
config.status
configure
configure.ac
configure~
libtool
run-tests.php

*.dep
*.la
*.lo
*.o
